body {
    overflow-x: hidden;
   
    font-family: 'Raleway', 'Runway', Arial, sans-serif;

}
#explpartners {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    overflow: hidden;

}

body {
    background-color: #F0EBED;
}

.explparnets-content {
    display:flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 768px) {
    .explparnets-content {
       flex-wrap: wrap;
    }

    .about-box {
           width: 95vw;
    max-width: 500px;
    min-width: 220px;
    height: auto;
    font-size: 1rem;
    margin: 0 auto; 
    }
}

.explpartners-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    justify-content: center;
    align-items: center;
    font-family: 'Runway', sans-serif;
    margin: 0 auto;
    
}

.explparnets-imgcard {
display: inline-block;
position: relative;
}

.explparnets-image {
    display: block;
    width: 100%;
    height: auto;
}
.explparnets-text {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: none;
    padding: 0.5rem 1rem;
    border-radius: none;
}

.explpartners-card:nth-child(even) .explparnets-text {
    color: #fff;
    flex-direction: row-reverse;
}


/* PARTNERS PAGES STYLING */
.partners-intro-box {
    display: flex;
    font-family: 'Runway', sans-serif;
    flex-direction: row;
}

.partners-intro-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2rem;

}




.partners-intro-header {
    font-size: 4rem;
    font-weight: bold;
    color: black;
    justify-content: center;
    font-family: 'Runway', sans-serif;
    margin-top: 2rem;
    
}

.partners-intro-text {
    font-size: 2rem;
    color: #000000;
    justify-content: center;
    font-family: 'Runway', sans-serif;
    margin-top: 3rem;
    
}

.partners-intro-subtext {
    font-size: 1.7rem;
    color: #4d4141;
    justify-content: center;
    font-family: 'Runway', sans-serif;
   
}

.partners-intro-sub {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.partners-intro-arrow {
    display: flex;
    width: 10%;

}
.partners-intro-subtext {
    margin-top: 4rem;
}

.partners-pages-header {
    font-size: 5rem;
    color: #000;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: #000 solid 2px;
    display: table;
    margin: 0 auto;
}


.filter-bar {
    display: flex;
    justify-content: center;
    background-color: #7E7DFF;
    border-radius: 0 1rem 0 1rem;
    gap: 4rem;
    margin: 30px auto;
    padding: 15px 20px;
    max-width: 900px;
    
    
}


   .searchbtn {
    background-color: yellow;
    cursor: pointer;
    width: 10rem;
    color: black;
   }

   #regionSelect, #programSelect, .searchbtn {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
   }
#universityList {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 100%;

}
  .university-card {
    display: flex;
   justify-content: space-between;
   background: rgba(240, 235, 237, 0.6);;
   border-radius: 1.5rem 0 1.5rem 0;
   flex-direction: row;
  border: 2px solid rgb(208, 188, 188);
 font-family: 'Runway', sans-serif;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   gap: 2rem;
   width: 90%;
   margin-left: 1.5rem;
    align-items: stretch; 
    font-size: 1.5rem;
   
  
  }

  

  .university-card:nth-child(even) {
    border-radius: 0  0 1.5rem 1.5rem;
    flex-direction: row-reverse;
}
   .university-card img {
   margin: 0;
    object-fit: cover;
   }

   .plane-animation {
    width: 60%;
    left: 1%;
    top: 80vh;
    transition: top 0.1s ease-out;
    z-index: 1;
    position: absolute;
   }
.clouds-animation {
    width: 60%;
    transition: top 0.1s ease-out;
    z-index: 1;
    position: absolute;
    top: 60vh;
    right: -200px;
}

/* PARTNERS PAGES STYLING-RESPONSIVE */


@media (max-width: 1200px) {
  .partners-intro-header {
    font-size: 2.5rem;
  }
  .partners-pages-header {
    font-size: 3rem;
  }
  .university-card {
    font-size: 1.2rem;
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .partners-intro-box {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
  }
  .partners-intro-content,
  .partners-intro-image {
    width: 100%;
    margin: 0;
  }

.partners-intro-img {
    width: 100%;
    height: auto;
   
  }

  .filter-bar {
    flex-direction: column;
    gap: 1rem;
    padding: 10px 5px;
    max-width: 100vw;
  }
  #universityList {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }
  .university-card {
    flex-direction: column;
    width: 98vw;
    margin: 0 auto;
    font-size: 1rem;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
  }
  .university-card img {
    width: 90vw;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .partners-intro-header,
  .partners-pages-header {
    font-size: 1.3rem;
  }
  .partners-intro-text,
  .partners-intro-subtext {
    font-size: 0.9rem;
  }
  .filter-bar {
    gap: 0.5rem;
    padding: 5px 2px;
  }
  .university-card {
    width: 99vw;
    font-size: 0.9rem;
    padding: 0.5rem 0.2rem;
  }
  .university-card img {
    width: 95vw;
    max-width: 95vw;
  }
}

.university-card img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}


   /*ABOUT STYLING*/
   #about-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Runway', sans-serif;
    justify-content: center;
    align-items: center;
   }

   .about-header {
    font-size: 1.6rem;
     margin-top: 6rem;

   }

   .about-subheader {
    font-size: 1rem;
    color: #333;
   }

   .about-box {
    display: flex;
    flex-direction: column;
    background-color: #05046A;
    border-radius: 1.5rem 0 1.5rem 0;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 35rem;
    gap: 1.6rem;
    font-size: 0.7rem;
   
   }

   .about-arrow {
    display: flex;
    width: 8%;
    align-self: flex-start;
    margin-left: 22rem;
   }
   .about-image {
    width:200px;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 2rem;
   }

    .about-text {
     font-size: 1rem;
     justify-content: center;
     font-family: 'Runway', sans-serif;
     text-align: center;
     margin-left: 1rem;
     margin-right: 1rem;
     
    }

   /* CONTACT STYLING */
    #contact-page {
     display: flex;
     flex-direction: row;
     gap: 2rem;
     font-family: 'Runway', sans-serif;
     margin-top: 4rem;
     justify-content: space-between;

    }

    .contact-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        font-size: 1.2rem;
        gap: 1rem;
        margin-left: 1rem;
        align-items: flex-start;
    } 

    .contact-header {
        font-size: 2rem;
    }

    .contact-form-box {
        display: flex;
        flex-direction: column;

    }

    .contact-form {
     display: flex;
     flex-direction: column;
     align-items:  flex-end;
     margin-right: 2rem;
     
    }

    .contact-form-header {
        font-size: 1.7rem;
        justify-content: center;
        text-align: center;
        margin-right: 2.2rem;
        margin-bottom: 0.6rem;
    }

    .submit-button {
    background-color: yellow;
    cursor: pointer;
    width: 2rem;
    height: 1.5rem;
    color: black;
    border-radius: 1rem;
    border: none;
    box-shadow: #000 0px 5px 10px;
    margin-bottom: 4rem;

    }

    #contat-form-box-name, #contat-form-box-email, #contat-form-box-message, .submit-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }

        #contat-form-box-name, #contat-form-box-email, #contat-form-box-message {
            border: 2px solid #05046A;
            height: 5rem;
            width: 20rem;
            padding-left: 1rem 2rem;
            box-sizing: border-box;
            
        }

        .footer {
            background-color: #05046A;
            display: flex;
            flex-direction: row;
            

        }

        .footer-logo {
            width: 50%;
            margin: 2rem;;
        }

        .footer-header-1 {
        display: flex;
        flex-direction: row;
        width: 50%;
        color: white;
        align-items: center;
        gap: 1rem;
        }

          .footer-header-2 {
        display: flex;
        flex-direction: row;
         align-items: center;
         justify-content: flex-end;
         margin-left:10rem;
         gap: 1rem;
         margin-top: 3rem;

    
          }

          .footer-text2{
            font-size: 1.2rem;
            color: white;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }